/* responsive.css */
/* desktop 1250 ~ 1920 */
/* tablet 1249 ~ 850 */
@media screen and (max-width:1249px) {
    #wrap .intro .container h1:nth-child(2) {font-size:3.125rem; font-weight:700;}
    #wrap .intro .container .sponsor_btn {line-height:62px; width:270px; font-size:1.375rem;}
    #wrap .intro .container .sponsor_question {width:333px; height:54px; font-size:1.25rem; line-height:1.7;}
}
/* mobile 849 ~ 320 */
@media screen and (max-width:849px) {
    #wrap .intro .container h1:nth-child(1) a img {width:40px;}
    #wrap .intro .container h1:nth-child(2) {font-size:1.875rem;}
    #wrap .intro .container .sponsor_btn {width:270px;}
    #wrap .intro .container .sponsor_question {float:none;}
}